/* Empty. Add your own CSS if you like */


.headerPage{
  color: white;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerPage__infos{
  background-color: rgba(0,0,0,0.2);
  padding: 25px;
}
.headerPage__label{
  color: white;
}
.headerPage__coverPicture{
  width: 100%;
}
.headerPage__members{
  display: flex;
  justify-content: center;
}


.member{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
}

.member__picture{

}