/* MENU */
.btn-add{
  background-color: #1abc9c;
  color: #2c3e50;
}

/* TripPage */
.headerPage{
  color: white;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerPage__infos{
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  padding: 60px 25px 50px 25px;
}
.headerPage__label{
  color: white;
}

.headerPage__description{
  display: block;
  margin-top: 30px;
}

.headerPage__coverPicture{
  width: 100%;
}

.headerPage__members{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.member{
  margin: 0 10px;
}

.member__picture{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

/* Side panel */
.side-panel {
  background-color: #0c4774;
}

.side-panel a.item-content{
  background-color: transparent;
}

.side-panel a.item-content:hover{
  background-color: transparent;
}

.side-panel a.item-content:active{
  background-color: transparent;
}

.side-panel a.item-content:visited{
  background-color: transparent;
}

.side-panel .user__img {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-top: 17.5px;
  padding: 3.5px;
  text-align: center;
  border-radius: 100%;
  background-color: white;
}

.side-panel .user__img .user__photo {
  position: relative;
  border-radius: 100%;
  background-color: red;
}

.side-panel .camera__button__container {
  position: absolute;
  z-index: 10;
  right: 0.5em;
  bottom: 0;
  width: 3.5em;
  height: 3.5em;
  text-align: initial;
  border-radius: 100%;
  background-color: #dd2a2a;
}

.side-panel .camera__button__container img {
  width: 45%;
  margin: 32.5% auto 32.5% 28.5%;
}

.side-panel .item {
  font-size: 14px;
  padding-left: 60px;
  color: white;
  border-color: #788ea5;
  background-color: inherit;
}

.side-panel .user__name {
  font-weight: bold;
  padding: 0;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-top: none;
  border-bottom: none;
}

.side-panel .logout__link{
  margin-top: 60px;
  text-align: center;
  padding-left: 0px;
}

.card{
  padding: 0 15px 15px 15px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #F1F1F1;
}

.event__icon{
  font-size: 1.2em;
  color: #000000;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 5px;
}

.event__icon i{
  display: inline-block;
  width: 22px;
}

.ion-social-twitter{
  color: #3b94d9;
}

.event__icon em{
  font-size: 0.8em;
  color: #707070;
}

.event .date{
  float: right;
  color: #666666;
  font-size: 0.6em;
}
.event{
  border: none;
  justify-content: center;
  border: none;
  width: 100%;
}

.event p{
  color: #000000;
  font-size: 1em;
}
