/* MENU */
.btn-add{
  background-color: #1abc9c;
  color: #2c3e50;
}

/* TripPage */
.headerPage{
  color: white;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerPage__infos{
  background-color: rgba(0,0,0,0.2);
  padding: 25px;
}
.headerPage__label{
  color: white;
}
.headerPage__coverPicture{
  width: 100%;
}
.headerPage__members{
  display: flex;
  justify-content: center;
}

.member{
  margin: 0 10px;
}

.member__picture{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Splash page */
.splash{
  padding: 15px;
}

/* Side panel */
.side-panel {
  background-color: #0c4774;
}

.side-panel .logout__link{
  display: block;
  margin-top: 15px;
  margin-left: 12px;
  color: #788ea5;
}

.side-panel .user__img {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-top: 17.5px;
  padding: 3.5px;
  text-align: center;
  border-radius: 100%;
  background-color: white;
}

.side-panel .user__img .user__photo {
  position: relative;
  border-radius: 100%;
  background-color: red;
}

.side-panel .camera__button__container {
  position: absolute;
  z-index: 10;
  right: 0.5em;
  bottom: 0;
  width: 3.5em;
  height: 3.5em;
  text-align: initial;
  border-radius: 100%;
  background-color: #dd2a2a;
}

.side-panel .camera__button__container img {
  width: 45%;
  margin: 32.5% auto 32.5% 28.5%;
}

.side-panel .item {
  font-size: 14px;
  padding-left: 60px;
  color: white;
  border-color: #788ea5;
  background-color: inherit;
}

.side-panel .user__name {
  font-weight: bold;
  padding: 0;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-top: none;
  border-bottom: none;
}

.side-panel .menu__search input {
  display: inline;
  margin-bottom: 10px;
  color: white;
  background-color: #0c4774;
}

.side-panel .menu__search img {
  width: 25px;
  margin-left: 35px;
}

.subdiv {
  font-weight: normal;
  display: block;
  margin-top: 5px;
  color: #788ea5;
}

#createTrip {
  display: block;
  margin-top: 27px;
  text-align: center;
}

#createTrip img {
  width: 65px;
}
