<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Start a new trip</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCreateTripModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submitTrip()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="newTrip.contents.title" required>
       </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="newTrip.contents.description" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Hashtag</span>
          <input type="text" ng-model="newTrip.contents.hash" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Start tracking</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
