<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create a new trip</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddTrip()">X</button>
    </div>
  </ion-header-bar>
  <div class="imageHeader">
    <img  src="images/standardCover.png"/>
    <img  src="images/blueCamera.png"/>
    <span class="iconComment">Add a kickass cover</span>
  </div>
  <ion-content>
    <form ng-submit="submitTrip()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="tripToAdd.contents.title">
       </label>
      
       <label class="item item-input item-select">
          <div class="input-label">
            Select the car
          </div>
          <select>
            <option>Delorean</option>
            <option selected>Tesla Model S</option>
            <option>207</option>
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="tripToAdd.contents.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Start</span>
          <input type="text" ng-model="tripToAdd.contents.from.address">
        </label>
        <label class="item item-input">
          <span class="input-label">End</span>
          <input type="text" ng-model="tripToAdd.contents.to.address">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Trip</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
