<form name="inviteForm" novalidate
  ng-submit="inviteFriend()">
  <ion-view view-title="Friends">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="refresh()" ng-hide="states._all.loading">
        <i class="ion-refresh"></i>
      </button>
    </ion-nav-buttons>
    <ion-content>
      <p class="item"
        ng-if="states._all.failed.code"
        ng-switch="states._all.failed.code">
        <i class="icon ion-alert-circled assertive"></i>
        <span ng-switch-when="E_NETWORK">
          Looks like the network is bad, try later ;).
        </span>
        <span ng-switch-default>
          Unexpected error! We are going to fix it soon!
        </span>
      </p>
      <ion-spinner icon="lines" ng-show="states._all.loading"></ion-spinner>
      <ion-list ng-show="states._all.loaded">
        <ion-item ng-if="!friends.length">
          <p>Looks like you are an early adopter ;).</p>
        </ion-item>
        <ion-item ng-repeat="friend in friends" class="item-avatar">
          <img ng-if="friend.avatar_url" ng-src="{{friend.avatar_url}}">
          <h2>{{friend.contents.name}}</h2>
          <p ng-if="friend.contents.email">{{friend.contents.email}}</p>
        </ion-item>
      </ion-list>
      <div class="list">
        <div class="item item-divider">
          Invite
        </div>
        <label class="item item-input">
          <span class="input-label"
            ng-class="{
              'assertive' : inviteForm.email.$invalid && inviteForm.$submitted
            }">Email</span>
          <input type="email" name="email" placeholder="ex: john.doe@example.com" required
            ng-model="newFriend.email">
        </label>
        <p class="item"
          ng-if="actions.add.failed.code"
          ng-switch="actions.add.failed.code">
          <i class="icon ion-alert-circled assertive"></i>
          <span ng-switch-when="E_NETWORK">
            Looks like the network is bad, try later ;).
          </span>
          <span ng-switch-default>
            Unexpected error! We are going to fix it soon!
          </span>
        </p>
        <div class="item">
          <button class="button button-block button-positive"
            type="submit">Invite</button>
        </div>
      </div>
    </ion-content>
  </ion-view>
</form>
