<form ng-submit="doLogin()" class="auth-form">
  <div class="list">
    <div class="padding">
      <a class="button button-block" href="/auth/facebook" style="color: white; background:#3B5998;">Log with Facebook</a>
      <a class="button button-block" href="/auth/twitter" style="color: white; background:#55ACEE;">Log with Twitter</a>
      <a class="button button-block" href="/auth/google" style="color: white; background:#DC4E41;">Log with Google</a>
      <a class="button button-block" href="/auth/xee" style="color: #97CA00; background:#474747;">Log with Xee</a>
    </div>
    <br>
    <br>
    <div class="padding">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <button class="button button-block button-positive"
        ng-class="{ 'button-assertive': fail }"
        type="submit">Log {{ fail ? 'again' : 'in' }}</button>
      <a class="button button-block" ui-sref="signup">Sign up</a>
    <div>
  </div>
</form>
