<form ng-submit="doLogin()" name="loginForm" novalidate>
  <ion-content class="auth-form">
    <h1 style="text-align:center;">
      <img src="images/logo.png" width="150px">
    </h1>
    <div class="row">
      <div class="col">
        <a class="button button-block button-small icon-left ion-social-facebook"
          ng-click="doOAuth('facebook')"
          style="color:white; background:#3B5998;">
          Fb
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-small icon-left ion-social-twitter"
           ng-click="doOAuth('twitter')"
          style="color:white; background:#55ACEE;">
          Twitter
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-small icon-left icon ion-social-google"
           ng-click="doOAuth('google')"
          style="color:white; background:#DC4E41;">
          Google
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-small icon-left icon ion-model-s"
           ng-click="doOAuth('xee')"
          style="color:#97CA00; background:#474747;">
          Xee
        </a>
      </div>
    </div>
    <div class="padding">
      <label class="item item-input">
        <span class="input-label"
          ng-class="{
            'assertive' : loginForm.email.$invalid && loginForm.$submitted
          }">Email</span>
        <input type="email" name="email" placeholder="ex: john.doe@example.com" required
          ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <span class="input-label"
          ng-class="{
            'assertive' : loginForm.password.$invalid && loginForm.$submitted
          }">Password</span>
        <input type="password" name="password" required
          ng-model="loginData.password" ng-minlength="6">
      </label>
      <p class="item" ng-if="loginForm.password.$invalid && loginForm.$submitted">
        <i class="icon ion-alert-circled assertive"></i>
        Password must have a length of 6 chars.
      </p>
      <p class="item"
        ng-if="actions.login.failed.code"
        ng-switch="actions.login.failed.code">
        <i class="icon ion-alert-circled assertive"></i>
        <span ng-switch-when="E_NETWORK">
          Looks like the network is bad, try later ;).
        </span>
        <span ng-switch-when="E_BAD_PASSWORD">
          This password do not match.
        </span>
        <span ng-switch-when="E_BAD_EMAIL">
          Did not found any user with this email.
        </span>
        <span ng-switch-when="A_DISABLED_AGENT_VERSION">
          Looks like your app is pretty old, please upgrade it!
        </span>
        <span ng-switch-default>
          Unexpected error! We are going to fix it soon! ({{ actions.login.failed.code }})
        </span>
      </p>
      <button class="button button-block button-positive"
        ng-class="{ 'button-assertive': actions.login.failed }"
        type="submit">Log {{ actions.login.failed ? 'again' : 'in' }}</button>
    </div>
    <div class="padding">
      <a class="button button-block" ui-sref="signup">Sign up</a>
    </div>
  </ion-content>
</form>
