<form ng-submit="doLogin()" name="loginForm" class="auth-form" novalidate>
  <div class="list">
    <div style="text-align: center">
      <img src="images/logo.png" width="150px">
    </div>
    <div class="padding">
      <a class="button button-block" href="{{apiEndpoint}}/auth/facebook" style="color: white; background:#3B5998;">Log with Facebook</a>
      <a class="button button-block" href="{{apiEndpoint}}/auth/twitter" style="color: white; background:#55ACEE;">Log with Twitter</a>
      <a class="button button-block" href="{{apiEndpoint}}/auth/google" style="color: white; background:#DC4E41;">Log with Google</a>
      <a class="button button-block" href="{{apiEndpoint}}/auth/xee" style="color: #97CA00; background:#474747;">Log with Xee</a>
    </div>
    <div class="padding">
      <label class="item item-input">
        <span class="input-label"
          ng-class="{
            'assertive' : loginForm.email.$invalid && loginForm.$submitted
          }">Email</span>
        <input type="email" name="email" placeholder="ex: john.doe@example.com" required
          ng-model="loginData.email">
      </label>
      <p class="item" ng-if="fail == 'E_BAD_EMAIL'">
        <i class="icon ion-alert-circled assertive"></i>
        Did not found any user with this email.
      </p>
      <label class="item item-input">
        <span class="input-label"
          ng-class="{
            'assertive' : loginForm.password.$invalid && loginForm.$submitted
          }">Password</span>
        <input type="password" name="password" required
          ng-model="loginData.password" ng-minlength="6">
      </label>
      <p class="item" ng-if="loginForm.password.$invalid && loginForm.$submitted">
        <i class="icon ion-alert-circled assertive"></i>
        Password must have a length of 6 chars.
      </p>
      <p class="item" ng-if="fail == 'E_BAD_PASSWORD'">
        <i class="icon ion-alert-circled assertive"></i>
        This password do not match.
      </p>
      <p class="item" ng-if="fail == 'E_UNEXPECTED'">
        <i class="icon ion-alert-circled assertive"></i>
        Unexpected error! We are going to fix it soon!
      </p>
      <p class="item" ng-if="fail == 'E_NETWORK'">
        <i class="icon ion-alert-circled assertive"></i>
        Looks like the network is bad, try later ;).
      </p>
      <button class="button button-block button-positive"
        ng-class="{ 'button-assertive': fail }"
        type="submit">Log {{ fail ? 'again' : 'in' }}</button>
      <a class="button button-block" ui-sref="signup">Sign up</a>
    <div>
  </div>
</form>
