<ion-view view-title="{{ trip.contents.title }}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="refresh()">
      <i class="ion-refresh"></i>
      Refresh
    </button>
  </ion-nav-buttons>
  <ion-content data-tap-disabled="true">
    <ion-spinner icon="lines" ng-show="states._all.loading"></ion-spinner>
    <ui-gmap-google-map zoom="map.zoom" center="map.center"
      ng-show="states._all.activated">

      <ui-gmap-markers
        models="markers"
        idkey="markers.id"
        coords="'self'"
        fit="'true'">
      </ui-gmap-markers>
      <!-- <ui-gmap-polylines
        models="markers"
        idKey="markers.id"
        path="'self'"
        >
      </ui-gmap-polylines> -->
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
