<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" id="user-panel">
    <ion-content>
      <span menu-close id="logout" ui-sref="login">
        Logout
      </span>
​
      <div class="user-img" ng-click="newUserPicture()">
        <img ng-src="data:image/jpeg;base64,{{user.picture}}" class="user-photo" width="100%"/>

        <div class="redButtonBackground" ng-click="newUserPicture()">
          <img src="images/camera.png">
        </div>
      </div>

      <ion-item class="user-name">
        REMY THELLIER
        <!--  {{user.fname}} {{user.lname}} -->
        <br>
        <!-- Edit -->
        <span class="subdiv" menu-close ui-sref="login">Edit my profile</span>
      </ion-item>

      <ion-list>
        <div id="menu-search">
          <img src="images/search.png"/>
          <input type="search" autofocus placeholder="Look for a trip" ng-model="search.contents.title"/>
        </div>

        <ion-item menu-close class="item-icon-left"
          ng-repeat="trip in trips| filter:search:strict"
          ng-click="goToTrip(trip)">
          {{ trip.contents.title }}
        </ion-item>

        <ion-item menu-close
          class="btn-add"
          ng-click="addTrip()">
          Add Trip
        </ion-item>
      </ion-list>

      <div id="createTrip">
        <img  src="images/add.png"/>
        <span class="subdiv" menu-close ui-sref="newTrip">Create a new trip</span>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
