<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" class="side-panel">
    <div>
      <ion-content>
        <div class="user__img" ng-click="goToProfile()" ng-if="user.avatar_url">
          <img ng-src="{{user.avatar_url}}" class="user__photo" width="100%"/>
        </div>
        <ion-item menu-close class="user__name" ng-click="goToProfile()" ng-if="user.contents.name">
          Hi {{user.contents.name}}!
        </ion-item>

        <ion-list>
          <ion-item menu-close class="item-icon-left" ng-click="goToProfile()">
            <i class="icon ion-android-person"></i>
            Profile
          </ion-item>
          <ion-item menu-close class="centered item-icon-left" ng-click="goToTrips()">
            <i class="icon ion-plane"></i>
            Trips
          </ion-item>
          <ion-item menu-close class="centered item-icon-left" ng-click="goToFriends()">
            <i class="icon ion-person-stalker"></i>
            Friends
          </ion-item>
          <ion-item menu-close class="centered item-icon-left" ng-click="goToCars()">
            <i class="icon ion-model-s"></i>
            Cars
          </ion-item>
          <ion-item menu-close class="centered item-icon-left" ng-click="doLogout()">
            <i class="icon ion-log-out"></i>
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </ion-side-menu>
</ion-side-menus>
