<ion-view view-title="Profile">
  <ion-content>
    <form name="profileForm" novalidate class="list"
      ng-controller="UpdateProfileCtrl"
      ng-submit="updateProfile()">
      <div class="list">
          <div class="item item-divider">
          Infos
        </div>
        <label class="item item-input">
          <span class="input-label"
            ng-class="{
              'assertive' : profileForm.name.$invalid && profileForm.$submitted
            }">Name</span>
          <input type="text" name="name" placeholder="ex: John Doe" required
            ng-model="profile.contents.name">
        </label>
        <label class="item item-input">
          <span class="input-label"
            ng-class="{
              'assertive' : profileForm.name.$invalid && profileForm.$submitted
            }">Email</span>
          <input type="email" name="email" placeholder="ex: john.doe@example.com" required
            ng-model="profile.contents.email">
        </label>
        <p class="item"
          ng-if="actions.update.failed"
          ng-switch="actions.update.failed.code">
          <i class="icon ion-alert-circled assertive"></i>
          <span ng-switch-when="E_RESERVED_EMAIL">
          Strange! Another account already uses this email.
          </span>
          <span ng-switch-when="E_NETWORK">
            Looks like the network is bad, try later ;).
          </span>
          <span ng-switch-default>
            Unexpected error! We are going to fix it soon!
          </span>
        </p>
        <div class="item">
          <button class="button button-block button-positive" type="submit"
            ng-disabled="actions.update.loading">
            Update
          </button>
        </div>
      </div>
    </form>
    <form name="profileForm" novalidate class="list"
      ng-controller="UpdateAvatarProfileCtrl"
      ng-submit="setAvatar()">
      <div class="list">
        <div class="item item-divider">
          Avatar
        </div>
        <p class="item"
          ng-if="actions.upload.failed"
          ng-switch="actions.upload.failed.code">
          <i class="icon ion-alert-circled assertive"></i>
          <span ng-switch-when="E_NETWORK">
            Looks like the network is bad, try later ;).
          </span>
          <span ng-switch-default>
            Unexpected error! We are going to fix it soon!
          </span>
        </p>
        <div class="item">
          <input type="file" id="uploader" class="button button-block" /><br />
          <button class="button button-block button-positive"
            ng-disabled="actions.upload.loading">
            Upload
          </button>
        </div>
      </div>
    </form>
    <div class="list">
      <div class="item item-divider">
        Integrations
      </div>
      <div class="item"
        ng-class="{
          'item-button-right': !profile.facebook,
          'item-icon-right': profile.facebook,
        }">
        Facebook
        <a class="button" href="{{apiEndpoint}}/auth/facebook"
          style="color: white; background:#3B5998;"
          ng-if="!profile.facebook">
          <i class="icon ion-link"></i>&nbsp; Link account
        </a>
        <i class="icon ion-android-cloud-done"
          ng-if="profile.facebook"></i>
      </div>
      <div class="item"
        ng-class="{
          'item-button-right': !profile.twitter,
          'item-icon-right': profile.twitter,
        }">
        Twitter
        <a class="button" href="{{apiEndpoint}}/auth/twitter"
          style="color: white; background:#55ACEE;"
          ng-if="!profile.twitter">
          <i class="icon ion-link"></i>&nbsp; Link account
        </a>
        <i class="icon ion-android-cloud-done"
          ng-if="profile.twitter"></i>
      </div>
      <div class="item"
        ng-class="{
          'item-button-right': !profile.google,
          'item-icon-right': profile.google,
        }">
        Google
        <a class="button" href="{{apiEndpoint}}/auth/google"
          style="color: white; background:#DC4E41;"
          ng-if="!profile.google">
          <i class="icon ion-link"></i>&nbsp; Link account
        </a>
        <i class="icon ion-android-cloud-done"
          ng-if="profile.google"></i>
      </div>
      <div class="item item-divider">
        Privacy
      </div>
      <div class="item">
        <a class="button button-block button-assertive"
          ng-click="goDestroy()">
          Erase my profile
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
