<form name="signupForm" ng-submit="doSignup()" novalidate>
  <div class="list">
    <label class="item item-input">
      <span class="input-label"
        ng-class="{
          'assertive' : signupForm.name.$invalid && signupForm.$submitted
        }">Name</span>
      <input type="text" name="name" placeholder="ex: John Doe" required
        ng-model="loginData.name">
    </label>
    <label class="item item-input">
      <span class="input-label"
        ng-class="{
          'assertive' : signupForm.email.$invalid && signupForm.$submitted
        }">Email</span>
      <input type="email" name="email" placeholder="ex: john.doe@example.com" required
       ng-model="loginData.email">
    </label>
    <label class="item item-input">
      <span class="input-label"
        ng-class="{
          'assertive' : signupForm.password.$invalid && signupForm.$submitted
        }">Password</span>
      <input type="password" name="password" placeholder="6 chars passwords mininum" required
        ng-model="loginData.password" ng-minlength="6">
    </label>
    <p class="item" ng-if="signupForm.password.$invalid && signupForm.$submitted">
      <i class="icon ion-alert-circled assertive"></i>
      Password must have a length of 6 chars.
    </p>
    <p class="item"
      ng-if="actions.signup.failed.code"
      ng-switch="actions.signup.failed.code">
      <i class="icon ion-alert-circled assertive"></i>
      <span ng-switch-when="E_NETWORK">
        Looks like the network is bad, try later ;).
      </span>
      <span ng-switch-when="E_USER_EXISTS">
        This user already exists!
      </span>
      <span ng-switch-default>
        Unexpected error! We are going to fix it soon!
      </span>
    </p>
    <div class="item">
      <button type="submit" class="button button-block button-positive"
        ng-class="{ 'button-assertive': actions.signup.failed }"
        signupForm>Sign up {{ actions.signup.failed ? 'again' : '' }}</button>
      <a class="button button-block" ui-sref="login">Log in</a>
    </div>
  </div>
</form>
