<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">End this trip?</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeStopTripModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="stopTrip()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">End note</span>
          <input type="text" ng-model="newTrip.contents.description" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">
            End the trip
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
