<ion-view view-title="{{ trip.contents.title }}">
  <ion-nav-buttons side="right">
    <button class="button"
      ng-click="togglePositionTracking()"
      ng-class="{
        'calm': actions.position.loading,
        'positive': actions.sendposition.loading,
        'assertive': actions.sendposition.failed,
      }"
      ng-hide="states._all.loading"
      ng-disabled="trip.ended_date">
      <i class="ion-pinpoint"
        ng-if="!trackingPosition"></i>
      <i class="ion-ios-location"
        ng-if="trackingPosition && actions.position.loading"></i>
      <i class="ion-ios-location-outline"
        ng-if="trackingPosition && actions.position.loaded && !actions.position.loading"></i>
      <i class="ion-ios-navigate"
        ng-if="trackingPosition && actions.sendposition.loading"></i>
      <!--<i class="ion-ios-navigate-outline"
        ng-if="actions.sendposition.loaded"></i>-->
    </button>
    <button class="button"
      ng-click="refresh()" ng-hide="states._all.loading">
      <i class="ion-refresh"></i>
    </button>
    <button class="button"
      ng-click="commentTrip()"
      ng-hide="states._all.loading || actions.comment.loading">
      <i class="ion-android-chat"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <p class="item"
      ng-if="states._all.failed.code"
      ng-switch="states._all.failed.code">
      <i class="icon ion-alert-circled assertive"></i>
      <span ng-switch-when="E_NETWORK">
        Looks like the network is bad, try later ;).
      </span>
      <span ng-switch-default>
        Unexpected error! We are going to fix it soon!
      </span>
    </p>
    <ion-spinner icon="lines" ng-show="states._all.loading"></ion-spinner>
    <div class="headerPage" ng-show="states._all.loaded">
      <div class="headerPage__infos">
        <h1 class="headerPage__label">{{ trip.contents.title }}</h1>
        <em class="headerPage__description">{{ trip.contents.description }}</em>
        <div class="headerPage__members">
          <div class="user"
            ng-repeat="user in trip.friends"
            ng-click="goToUser(user)">
            <img class="user__picture" alt="Profile photo of {{ user.contents.name }}"
              ng-src="{{ user.avatar_url }}">
            <div class="user__name">{{ user.contents.name }}</div>
          </div>
        </div>
        <div class="map__button">
          <button ng-click="goToMap()" class="button button-light">
            <i class="ion-map"></i>
            See on map
          </button>
          <button class="button button-energized"
            ng-click="stopTrip()" ng-show="canStopTrip">
            <i class="ion-trophy"></i>
            The end!
          </button>
        </div>
      </div>
    </div>
    <div class="card list"
      ng-repeat="segment in segments" ng-show="states._all.loaded">
      <div class="item item-divider">
        Step {{ $index + 1 }}
        <span>
          <span ng-if="segment.points.length > 1">
            - {{segment.elapsedTime | amDurationFormat}}
          </span>
          - {{ segment.distance/1000 | number }} km
        </span>
      </div>
      <div class="item"
        ng-repeat="event in segment.events" ng-switch="event.contents.type"
        ng-class="mapClassEvent(event.contents.type)">

        <h2 ng-switch-when="trip-start">
          <i class="ion-location"></i>
          <em>Start</em>
        </h2>
        <p ng-switch-when="trip-start">
          <span ng-if="event.contents.description">
            {{ event.contents.description }}<br>
          </span>
          <span am-time-ago="event.created_date"></span>
        </p>

        <img ng-switch-when="twitter-status"
          ng-src="{{ trip.users[event.contents.author_id].avatar_url }}">
        <h2 ng-switch-when="twitter-status">
          <i class="ion-social-twitter"></i>
          {{ trip.users[event.contents.author_id].contents.name }}
        </h2>
        <p ng-switch-when="twitter-status">
          {{ event.contents.text }}<br>
          <span ng-repeat="media in event.contents.media" ng-switch="media.type">
            <img ng-src="{{ media.src_url }}"
              ng-switch-when="image"/><br>
          </span>
          <span am-time-ago="event.created_date"></span>
        </p>

        <img ng-switch-when="facebook-status"
          ng-src="{{ trip.users[event.contents.author_id].avatar_url }}">
        <h2 ng-switch-when="facebook-status">
          <i class="ion-social-facebook"></i>
          {{ trip.users[event.contents.author_id].contents.name }}
        </h2>
        <p ng-switch-when="facebook-status">
          {{ event.contents.text }}<br>
          <span ng-repeat="media in event.contents.media" ng-switch="media.type">
            <img ng-src="{{ media.src_url }}"
              ng-switch-when="image"/><br>
          </span>
          <span am-time-ago="event.created_date"></span>
        </p>

        <img ng-switch-when="trip-comment"
          ng-src="{{ trip.users[event.contents.author_id].avatar_url }}">
        <h2 ng-switch-when="trip-comment">
          <i class="ion-android-chat"></i>
          {{ trip.users[event.contents.author_id].contents.name }}
        </h2>
        <p ng-switch-when="trip-comment">
          {{ event.contents.comment }}<br>
          <span am-time-ago="event.created_date"></span>
        </p>

        <h2 ng-switch-when="trip-stop">
          <i class="ion-android-star-outline"></i>
          <em>Arrived at destination</em>
        </h2>
        <p ng-switch-when="trip-stop">
          <span ng-if="event.contents.description ">
            {{ event.contents.description }}<br>
          </span>
          <span am-time-ago="event.created_date"></span>
        </p>

      </div>
      <div class="item item-divider">
        {{ segment.points.length | number }} checks
      </div>
    </div>
  </ion-content>
</ion-view>
