<ion-view view-title="{{ trip.contents.title }}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="refresh()" ng-hide="states._all.loading">
      <i class="ion-refresh"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-spinner icon="lines" ng-show="states._all.loading"></ion-spinner>
    <div class="headerPage" ng-show="states._all.loaded">
      <div class="headerPage__infos">
        <h1 class="headerPage__label">{{ trip.contents.title }}</h1>
        <em class="headerPage__description">{{ trip.contents.description }}</em>
        <div class="headerPage__members">
          <div class="user"
            ng-repeat="user in trip.friends"
            ng-click="goToUser(user)">
            <img class="user__picture" alt="Profile photo of {{ user.contents.name }}"
              ng-src="{{ user.avatar_url }}">
            <div class="user__name">{{ user.contents.name }}</div>
          </div>
        </div>
        <div class="map__button">
          <button ng-click="goToMap()" class="button button-light">
            <i class="ion-map"></i>
            See on map
          </button>
          <button class="button button-energized"
            ng-click="stopTrip()" ng-show="canStopTrip">
            <i class="ion-trophy"></i>
            The end!
          </button>
        </div>
      </div>
    </div>
    <ion-list ng-show="states._all.loaded">
      <ion-item ng-repeat="event in trip.events" ng-switch="event.contents.type" ng-class="mapClassEvent(event.contents.type)" class="event-list-item card">

        <div ng-switch-when="trip-start" class="event">
          <div class="event__icon">
            <i class="ion-location"></i>
            <em>Depart</em>
            <span class="date">{{event.created_date | date:'short'}}</span>
          </div>
        </div>

        <div ng-switch-when="twitter-status" class="event">
          <div class="event__icon">
            <i class="ion-social-twitter"></i>
            <em>Twitter</em>
            <span class="date">{{event.created_date | date:'short'}}</span>
          </div>
          <div class="event__text">
            <p class="event__user__name"><strong>{{event.contents.user_name}}</strong> tweeted:</p>
            <p>{{event.contents.text}}</p>
          </div>
        </div>

        <div ng-switch-when="psa-geo" class="event">
          <div class="event__icon">
            <i class="ion-android-car"></i>
            <em>PSA</em>
            <span class="date">{{event.created_date | date:'short'}}</span>
          </div>
          <div class="event__text">
            <p>The crew is taking a break at: {{ event.contents.geo[0] }}, {{event.contents.geo[1]}}</p>
          </div>
        </div>

        <div ng-switch-when="xee-geo" class="event">
          <div class="event__icon">
            <i class="ion-map"></i>
            <em>Xee</em>
            <span class="date">{{event.created_date | date:'short'}}</span>
          </div>
          <div class="event__text">
            <p>The crew is taking a break at: {{ event.contents.geo[0] }}, {{event.contents.geo[1]}}</p>
          </div>
        </div>

        <div ng-switch-when="trip-stop" class="event">
          <div class="event__icon">
            <i class="ion-android-star-outline"></i>
            <em>Arrived at destination</em>
            <span class="date">{{event.created_date | date:'short'}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
